@import url("https://fonts.googleapis.com/css?family=Pacifico&display=swap");
html,
body {
  height: 100vh;
  color: rgb(51, 51, 51);
  background: #fcfcfc;
}
.title {
  font-family: "Pacifico", cursive;
  font-size: 50px;
}
.todo-item {
  color: rgb(70, 70, 70);
  border: 1px solid gray;
  border-radius: 3px;
  cursor: pointer;
  font-weight: bold;
  padding: 1em;
  transition: all 0.2s ease;
}
.todo-item:hover {
  color: white;
  background: rgb(48, 48, 48);
  transition: all 0.2s ease;
}
.todo-item.checked {
  background: rgb(192, 192, 192);
  text-decoration: line-through;
}
#count {
  text-align: center;
  color: gray;
  font-size: 0.9em;
}
.card-footer {
  text-align: center;
  color: gray;
  font-size: 0.8em;
}
.card-footer a {
  text-decoration: none;
  transition: 0.2s all ease;
}
.form-check-label {
  font-size: 0.9em;
}
